<html>
    <head>
            <title>Your Basket | Yumz By Yaw - Homemade Desserts</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
            <link rel="shortcut icon" href="https://res.cloudinary.com/rapha3l/image/upload/v1551533722/yumz-THUMB_i3uau9.jpg">
            <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link rel="stylesheet" href="/css/basket.css" type="text/css">
    </head>
    <body>
            <a href="/order?"><p class="back" id="cookie-back"> &lt; Back</p></a>
            <div id="basket-orders">
                    <h2 id="basket-header">Items<span> <img id="basket-img" src="https://res.cloudinary.com/rapha3l/image/upload/v1556119520/shopping-basket_1_rfwlxp.png"></span></h2>
                  
                    
                            <p class="basket-order">
                                    <%= item %>
                                        
                                <span class="del">[delete]</span>
                                
                            </p>
                            
                 
                  
                </div>
                <script src="ejs.js"></script> 
                <script src="ejs.min.js"></script> 
              
 </body>              
</html>