
<html>
        <head>
        <title> Home | Yumz By Yaw - Homemade Desserts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
            <link rel="shortcut icon" href="https://res.cloudinary.com/rapha3l/image/upload/v1551533722/yumz-THUMB_i3uau9.jpg">
          
            <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
            
            <link rel="stylesheet" href="/css/index.css" type="text/css">
        
          </head>
        <body>
        
        
           <form action="/"> <img id="logo" src="https://res.cloudinary.com/rapha3l/image/upload/v1551534971/yumz_xcngos.jpg"></form>

           <img id="banner" src="https://res.cloudinary.com/rapha3l/image/upload/v1557059560/_yby_web_banner5_xtb7fa.png">

           <img id="banner-2" src="https://res.cloudinary.com/rapha3l/image/upload/v1556566197/yby_mobile_banner5_zbu0et.jpg">
    
            <div id="rectangles">
              <img class="rectangle" src="https://res.cloudinary.com/rapha3l/image/upload/v1554724892/Cupcakes_ktigkn.jpg">
              <img class="rectangle" src="https://res.cloudinary.com/rapha3l/image/upload/v1554724892/Cinnamon_jemjna.jpg">
              <img class="rectangle" src="https://res.cloudinary.com/rapha3l/image/upload/v1554724891/Cookies_ozttw5.jpg">
              <img class="rectangle" src="https://res.cloudinary.com/rapha3l/image/upload/v1554724891/and_more_gkn0hm.jpg">
            </div>
            <div id="social-container">
            <img src="https://res.cloudinary.com/rapha3l/image/upload/v1556552444/yby_social_media_at_nyimal.jpg" id="social-graphic">
            
            <div id="contain-icons">
              <a href="https://www.facebook.com/YumzByYaw/" target="_blank"><img class="social" src="https://res.cloudinary.com/rapha3l/image/upload/v1551536512/facebook-logo_da95rg.png"></a>
              <a href="https://www.instagram.com/yumz_by_yaw/" target="_blank"><img class="social" src="https://res.cloudinary.com/rapha3l/image/upload/v1551536566/instagram_r4zsjx.png"></a>
            </div>
          </div>
    
          <form action="/order" id="index-orders">
            <h2 id="order-header">PLACE AN ORDER</h2>
           <a ><button class="index-order"> Cookies</button></a> 
            <a ><button class="index-order">Cupcakes</button> </a>
            <a><button  class="index-order">Pies</button></a>
           <a ><button  class="index-order">Cinnamon Rolls</button></a> 
            <a ><button  class="index-order">Brownies</button></a>
           
          </form> 
            
        <!--  <div  id="index-orders">
              <h2 id="order-header">PLACE AN ORDER</h2>
            <button class="index-order"> Cookies</button>
             <button class="index-order">Cupcakes</button>
              <button  class="index-order">Pies</button>
            <button  class="index-order">Cinnamon Rolls</button>
              <button  class="index-order">Brownies</button>
             
          </div> -->
    
       
            <div id="intro">
                <img id="its-yaw" src="https://res.cloudinary.com/rapha3l/image/upload/v1556552940/yaw_headshot_uxyfaf.png">

               <p id="intro-p">I am very blessed and excited to venture into making this step. Thank you for those who have supported and encouraged me to work on my craft and share my love of baking onto others!<br /><br />
                Love,<br />
                Yaw</p>
                
            </div>
    
            <footer>
              <br/>
              <br/>
              <h4 id="credit">&copy;2019 Yumz by Yaw | Website by <a class="credit-link" href="https://jiellr.com/">jdonric</a> | Logo by <a class="credit-link" href="https://www.instagram.com/bamtoon6ix/">Brandon Garrett</a> </h4>
            </footer>
          
           
           
           
          
            
           
                
               
          
            <script>
                 $(document).ready(function(){  
                      
                      $(window).ready(function(){
                              $('body').fadeIn(2500);
    
                             
                        });
      
                      });
            </script>
            </body>
        </html>