<htm>
        <head>
            <title>Place an Order | Yumz By Yaw - Homemade Desserts </title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
           
            <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
            <link rel="shortcut icon" href="https://res.cloudinary.com/rapha3l/image/upload/v1551533722/yumz-THUMB_i3uau9.jpg">
            <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
            
            <link rel="stylesheet" href="/css/order.css" type="text/css">
            <link rel="stylesheet" href="/css/modal.css" type="text/css">
            <link rel="stylesheet" href="/css/basket.css" type="text/css">
        </head>
        <body>
            <!--COMING SOOOOOON
            <div style="color:pink;" id="coming-soon">
                    <div id="coming-soon-modal" >

                            Modal content 
                            <div class="coming-soon-content">
                              
                              <br/>
                              <br/>
                              <h2 >Yumz by Yaw is not accepting orders at the moment :( <br/><br/>
                                Stay in the loop! </h2>
                                <a href="https://www.facebook.com/YumzByYaw/" target="_blank"><img class="social" src="https://res.cloudinary.com/rapha3l/image/upload/v1551536512/facebook-logo_da95rg.png"></a>
                                <a href="https://www.instagram.com/yumz_by_yaw/" target="_blank"><img class="social" src="https://res.cloudinary.com/rapha3l/image/upload/v1551536566/instagram_r4zsjx.png"></a>
                                
                              
                            </div>
                          
                          </div>
                    
            </div>

-->


                <div id="body" style="width:100%;">
            <!--ORDER MODALS-->
            <!--COOKIES-->
            <div id="cookie-form">
                <span class="back" id="cookie-back"> &lt; Back</span>
                <div class="form">
                    <div id="cookie-img" class="form-img"></div>
    
                <div class="flavor" id="cookie-flavor">
                    <h3 class="card-label">Cookies</h3>
    
                    <fieldset>
                            <label>Flavor:</label>
                         
                        <form action="/order" method="POST">
                                

                            <input class="radio_" type="radio" name="cookie-type" value="Chocolate Chip cookie" >Chocolate Chip<br/><br/>
                            <input class="radio_" type="radio" name="cookie-type" value="Snickerdoodle cookie" >Snickerdoodle<br/><br/>
                            <input class="radio_" type="radio" name="cookie-type" value="RV Chocolate cookie" >Red Velvet Chocolateship<br/><br/>
                            <input class="radio_" type="radio" name="cookie-type" value="Sugar cookie" >Sugar</br/><br/>
                            <input class="radio_" type="radio" name="cookie-type" value="RV GB cookie">Red Velvet Gooey Butter<br/><br/>
                            <input class="radio_" type="radio" name="cookie-type" value="DB Chocolate cookie">Double Chocolate<br/><br/>
                            <input class="radio_" type="checkbox" name="cookie-type" value="_VEGAN_"> Vegan?
    
                            <button class="add-cart">Add to Basket</button>
                            
                        </form>
    
    
                    </fieldset>
    
                </div>    
                    
    
                </div>
    
             </div> <br/>
    
            <!--CUPCAKE-->
             <div id="cupcake-form">
                    <span class="back" id="cupcake-back"> &lt; Back</span>
                    <div class="form">
                        <div id="cupcake-img" class="form-img"></div>
    
                        <div class="flavor">
                                <h3 class="card-label">Cupcakes</h3>
    
                                <fieldset>
                                        <label>Flavor:</label>
                                     
                                 <form action="/order" method="POST">
                                        <input class="radio_" type="radio" name="cupcake-type" value="RV cupcake">Red Velvet<br/><br/>
                                        <input class="radio_" type="radio" name="cupcake-type" value="Snickerdoodle cupcake">Snickerdoodle<br/><br/>
                                        <input class="radio_" type="radio" name="cupcake-type" value="Chocolate cupcake">Chocolate<br/><br/>
                                        <input class="radio_" type="radio" name="cupcake-type" value="Vanilla cupcake">Vanilla</br/><br/>
                                    
    
                                        <input class="radio_" type="checkbox" name="cupcake-type" value="_VEGAN_"> Vegan
            
                                        <button class="add-cart">Add to Basket</button>
                                        
                                    </form>
                                </fieldset>
                            </div>    
                            </div>
                        
                        </div>
                            
            </div><br/>
    
          <!--CINNA BUN-->  
            <div id="cinna-form">
                    <span class="back" id="cinna-back"> &lt; Back</span>
                    <div class="form">
                            <div id="cinnamon-img" class="form-img"></div>
    
                            <div class="flavor">
                                    <h3 class="card-label">Cinnamon Rolls</h3>
    
                                    <fieldset>
                                            <label>Flavor:</label>
                                         
                                    <form action="/order" method="POST">
                                            <input class="radio_" type="radio" name="cinnamon-type" value="RV cinna roll">Red Velvet<br/><br/>
                                            <input class="radio_" type="radio" name="cinnamon-type" value="Original cinna roll">Original<br/><br/>
                                            <input class="radio_" type="radio" name="cinnamon-type" value="Bday  cinna roll">Birthday Cake<br/><br/>
                                            <input class="radio_" type="radio" name="cinnamon-type" value="Pumpkin cinna roll">Pumpkin</br/><br/>
                                        
    
                                            <input class="radio_" type="checkbox" name="cinnamon-type" value="vegan"> Vegan
                
                                            <button class="add-cart">Add to Basket</button>
                                            
                                        </form>
                                    </fieldset>
                                </div>    
                                </div>
                            
                            </div>
            </div><br/>
            
    <!--PIE-->
            <div id="pie-form">
                    <span class="back" id="pie-back"> &lt; Back</span>
                    <div class="form">
                            <div id="pie-img" class="form-img"></div>
    
                            <div class="flavor">
                                    <h3 class="card-label">Pies</h3>
    
                                    <fieldset>
                                            <label>Flavor:</label>
                                         
                                 <form action="/order"  method="POST">
                                            <input class="radio_" type="radio" name="pie-type" value="Pumpkin pie">Pumpkin<br/><br/>
                                            <input class="radio_" type="radio" name="pie-type" value="Key Lime pie">Key Lime<br/><br/>
                                            <input class="radio_" type="radio" name="pie-type" value="Chocolate pie">Chocolate<br/><br/>
                                            <input class="radio_" type="radio" name="pie-type" value="Sw Potato pie">Sweet Potato</br/><br/>
                                    
    
                
                                            <button class="add-cart">Add to Basket</button>
                                            
                                        </form>
                                    </fieldset>
                                </div>    
                                </div>
                            
                            </div>
    
            </div><br/>
    
    <!--BROWNIE-->
            <div id="brownie-form">
                    <span class="back" id="brownie-back"> &lt; Back</span>
                    <div class="form">
                            <div id="brownie-img" class="form-img"></div>
    
                            <div class="flavor">
                                    <h3 class="card-label">Brownies</h3>
    
                                    <fieldset>
                                            <label>Flavor:</label>
                                         
                                 <form action="/order" method="POST">
                                            <input class="radio_" type="radio" name="brownie-type" value=" brownie">Chocolate<br/><br/>
    
                                            <input class="radio_" type="checkbox" name="brownie-type" value="vegan"> Vegan
                                           
                
                                            <button type="submit" class="add-cart">Add to Basket</button>
                                            
                                        </form>
                                    </fieldset>
                                </div>    
                                </div>
                            
                            </div>
    
            </div>
            
    
        <!--REGULAR CONTENT-->
    
     <form action="/" method="GET"> <img id="logo" src="https://res.cloudinary.com/rapha3l/image/upload/v1551534971/yumz_xcngos.jpg"> 
     </form>

    <img id="basket-img"   src="https://res.cloudinary.com/rapha3l/image/upload/v1557702836/shopping-basket-button_g5vvaw.png">
   
        <br/>

        <h2 id="order-header">PLACE AN ORDER</h2>
    
    
            <div id="item-box-container">
                <!--COOKIES-->
                <div class="item-box">
                    <h2 class="box-heading">Cookies</h2>
                    <p class="price">$25/dozen</p>
    
                    <button id="cookie-btn" class="order-button">Order</button>
                </div>
    
                <!--CUPCAKES-->
                <div class="item-box">
                        <h2 class="box-heading">Cupcakes</h2>
                        <p class="price">$30/dozen</p>
        
                        <button id="cupcake-btn" class="order-button">Order</button>
                    </div>
    
                 <!--CINNA ROLLS-->
                 <div class="item-box">
                        <h2 class="box-heading">Cinnamon Rolls</h2>
                        <p class="price">$35/dozen</p>
        
                        <button id="cinna-btn" class="order-button">Order</button>
                    </div>
                   
                    <!--PIES-->
                    <div class="item-box">
                            <h2 class="box-heading">Pies</h2>
                            <p class="price">$20/dozen</p>
    
                            <button id="pie-btn" class="order-button">Order</button>
                        </div>
                    
                        <!--BROWNIES-->
                    <div class="item-box">
                            <h2 class="box-heading">Brownies</h2>
                            <p class="price">$20/dozen</p>
    
                            <button id="brownie-btn" class="order-button">Order</button>
                        </div> 
            </div>
   
    
            <footer>
                <br/>
                <br/>
                <h4 id="credit">&copy;2019 Yumz by Yaw | Website by <a class="credit-link" href="https://jiellr.com/">jdonric</a> | Logo by <a class="credit-link" href="https://www.instagram.com/bamtoon6ix/">Brandon Garrett</a> </h4>
              </footer>
            </div>
   

        <!--SHOPPING CART/BASKET-->
        <div id="basket-2" class="basket">
               
                <button class="close-basket" >x</button>
                <p id="basket-header">BASKET</p>
                
                     
                       
                         
                   
                            
                          
                       
                    
                
               
               

                <div></div>
              </div> 
              
<!--

<script>
               var csBox = document.getElementById('coming-soon');
               var body = document.getElementsByTagName('body');

                function comingSoon() {
                    csBox.style.display = "block";
                };
                
                window.setTimeout(comingSoon, 3200);
            
                
              
              </script>
-->
              

              <!--<script src="../ejs.js"></script> 
              <script src="../ejs.min.js"></script> -->
              
             <script src="../js/modal.js"></script> 
           <!-- <script src="/public/js/comingSoon.js"></script> -->   
              <script src="../js/showBasket.js"></script> 
             
             
        </body>
    </html>