body {
    margin: 0;
  background-image: url('https://res.cloudinary.com/rapha3l/image/upload/v1557363026/yby_pg_bg_tlpf8d.png');
  background-attachment: fixed;
  background-size: cover;
    
}

#body {
  z-index:1;
}

#main {
  transition: margin-right 1s;
  padding: 3%;
}

#logo {
    margin-left: 8%;
   position: fixed;
    width:15%;
    display: inline-block; 
    opacity: 0.95; 
    z-index:1;
}

#logo, #basket-img {
    display: inline;
    top: 5%;
    z-index:1;
    
}



#items:hover {
    background-color: purple;
  color: white;
  transition-duration: 1.5s;
transition-property: background-color;
}

footer {
    height: 15%;
  background-color: purple;
  width: 100%;
  bottom:0;
  margin-top: 5%;
  z-index:1;
  }
  
  #credit {
    color: rgb(216, 70, 94);
    z-index:1;
    font-family: 'kanit', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
  }
  
  #credit-link:hover {
   color: goldenrod;
  }
  
  .credit-link:visited {
    color:darkorchid;
  }
  #item-box-container {
      width: 40%;
      padding-top: 5%;
     display:block;
      height: auto;
      z-index:1;
      margin-top: 5%;
      margin:auto;
      margin-bottom: 8%;
  }

  #order-header {
    font-size: 43px;
    text-align:center;
    font-family: 'Kanit', sans-serif;
    color:rgb(216, 70, 94);
    text-shadow: 2px 2px 8px purple;
  }

  .item-box {
margin: auto;
margin-top: 2.5%;
display:block;
    text-align:left;
    font-family: 'dosis', sans-serif;
  width:80%;
  z-index:1;
  background-color:white;
  height: auto;
    border-style: solid;
    border-width:  1.75px 2px;
    border-color: white;
    position: relative;
    padding-left: 20%;
    padding-top: 2%;
    
    -webkit-box-shadow: 9px 8.5px 6.5px -6.5px rgb(104, 43, 104);
    -moz-box-shadow:9px 8px 8.5px -6.5px rgb(104, 43, 104);
         box-shadow:9px 8px 8.5px -6.5px rgb(104, 43, 104);
  }

  .box-heading {
      font-size: 28px;
      
  }

  .box-heading, .price{
      display: inline;
  }

  .price {
      right: 20%;
      position: absolute;
  }

  .order-button {
  display: block;
    width:50%;
    height: 9%;
    margin:3%;
    margin-left: 2%;
    color: white;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    background-color: purple;
    border-style: solid;
    border-width: 1.5px;
    border-color: purple; 
  }

  .order-button:hover {
    background-color: lavender;
    border-color: purple;
    color: purple;
    transition-duration: 0.5s;
  transition-property: background-color;
  }

  #basket-2 {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 3s;
    padding-top: 10%;
    display: none;

    -webkit-box-shadow: -6.5px 8.5px 8px 7px rgb(104, 43, 104);
    -moz-box-shadow: -6.5px 8.5px 8px 7px rgb(104, 43, 104);
         box-shadow: -6.5px 8.5px 8px 7px rgb(104, 43, 104);
  }

  .close-basket {
    font-family: 'Kanit', sans-serif;
    color: rgb(216, 70, 94);
    cursor: pointer;
    border-style: none;
    background-color:white;
  }

  .basket .close-basket {
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 24px;
    margin-left: 5%;

  }

  /* COMING SOON */
  #coming-soon {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    margin:auto;
    display:block;

    color: black;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
  }

  #coming-soon-modal {
    background-image: url('https://res.cloudinary.com/rapha3l/image/upload/v1561310898/yby_coming_soon_m7cuad.png');
    background-size: cover;
    background-repeat: no-repeat;
  
    width: 60%;
    height: 85%;
    margin:auto;
    display:block;
    position:fixed;
    margin-left:20%;
    margin-top: 5%;
  }

  .coming-soon-content {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color:  rgb(216, 70, 94);
    width: 45%;
    margin:auto;
    display:block;
  }


  @media screen and (max-height: 700px) {
    .basket {padding-top: 3%;}
    .basket a {font-size: 0.7em;}


  .coming-soon-content {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color:  rgb(216, 70, 94);
    width: 50%;
    margin:auto;
    display:block;
   
  }

  #coming-soon-modal {
    background-image: url('https://res.cloudinary.com/rapha3l/image/upload/v1561310898/yby_coming_soon_m7cuad.png');
    background-size: cover;
    background-repeat: no-repeat;
  
    width: 60%;
    height: 85%;
    margin:auto;
    display:block;
    position:fixed;
    margin-left:20%;
    margin-top: 5%;
  }

  

.price {
  display:none;
}

  }